.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer Styles */
.footer {
  background: radial-gradient(circle at top,transparent 9%, #ffffff 10% ,#ffffff 15% , transparent 16%), radial-gradient(circle at bottom,transparent 19%, #ffffff 20% ,#ffffff 25% , transparent 26%), radial-gradient(circle at right,transparent 19%, #ffffff 20% ,#ffffff 25% , transparent 26%), radial-gradient(circle at left,transparent 9%, #ffffff 10% ,#ffffff 15% , transparent 16%);
        background-size: 3em 3em;
        background-color: #f7f7f7;
        opacity: 0.95;
  color: #0f3061;
  padding: 20px;
  text-align: center;
  font-family: "poppins";
  
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  max-width: 50px;
}

.footer-info {
  margin: 10px 0;
}

.footer-info .address,
.footer-info .phone {
  margin: 5px 0;
}

.footer-socials {
  margin: 10px 0;
}

.footer-socials .social-icon {
  color: #0f3061;
  margin: 0 10px;
  text-decoration: none;
}

.footer-socials .social-icon:hover {
  text-decoration: underline;
}

.footer-quote {
  margin: 20px 0;
}

.footer-quote p {
  font-style: italic;
}

/* WhatsApp Button Styles */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
  text-align: center;
  justify-items: center;
  background-color: #1fad53;
  color: #ffffff;
  
  border-radius: 50%;
  padding: 10px;


}

.form-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 25px;
  width: 25px;
  text-align: center;
  justify-items: center;
  background-color: #0f3061;
  color: #ffffff;
  
  border-radius: 50%;
  padding: 10px;


}


